html, body {
    margin: 0;
}

#page-wrapper {
    padding-top: 40px;
}

.pad-top-10 {
    padding-top: 10px
}

.wb-ghost-text {
    font-size: 12px;
    color: #c6c6c6;
}

#pick-container {
    height: 300px;
    border: 1px solid silver;
    padding: 15px;
}

.area-item {
    border: 1px solid #e0d1c6;
    padding: 10px;
}

#progress-bar-wrapper {
    border: 1px solid #e0d1c6;
    padding: 2px;
    margin-bottom: 10px;
}

#progress-bar {
    width: 0;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
}